{{> post-info post}}

{{#if loggedIn}}
{{> comments post.comments}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Post Comment</button>
    </form>
</div>
{{/if}}



{{#if loggedIn}}
<script src="./java/comment.js"></script>
{{/if}}