*{
    box-sizing: border-box;
  }
  body
 {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;

 }



 footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }